@page "/"
@layout LayoutLogin
@inject IJSRuntime JSRuntime
@inject ProtectedLocalStorage storage
@inject NavigationManager navigation

   <h1 class="title is-5 has-text-info is-uppercase">
      Đăng nhập hệ thống
    </h1>
    <form @onsubmit="SignIn">
      <div class="field">
        <label class="label">Tên đăng nhập</label>
        <div class="control has-icons-left">
          <input @bind="username" type="text" class="input" placeholder="Nhập email..." />
          <span class="icon is-left">
            <span class="material-icons-outlined is-size-5">
              account_circle
            </span>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Mật khẩu</label>
        <div class="control has-icons-left">
          <input @bind="password" type="password" class="input" placeholder="Nhập password..." />
          <span class="icon is-left">
            <span class="material-icons-outlined is-size-5">
              lock
            </span>
          </span>
        </div>
      </div>
      <div class="field is-grouped is-vcentered mt-5">
        <div class="control is-expanded is-flex is-justify-content-space-between is-align-items-center">
          <button class="button is-link" @onclick="SignIn">
            <span class="icon">
              <i class="material-icons-outlined is-size-6">login</i>
            </span>
            <span>Đăng nhập</span>
          </button>
					<a href="/register" style="text-decoration: underline;" class="has-text-link">Đăng ký</a>
        </div>
      </div>
    </form>

@code {
  private bool _loaded = false;
  private string username = String.Empty;
  private string password = String.Empty;
  private UserModel user = null;

  @* protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    try
    {
      if (firstRender)
      {
        var userStorage = await storage.GetAsync<string>("user");
        if (userStorage.Success && !string.IsNullOrEmpty(userStorage.Value))
        {
          user = await UserData.Get(userStorage.Value);
          if (user == null)
            await JSRuntime.InvokeVoidAsync("localStorage.clear");
        }
        _loaded = true;
        StateHasChanged();
      }
    }
    catch (Exception ex)
    {
      await JSRuntime.InvokeVoidAsync("localStorage.clear");
      await JSRuntime.InvokeAsync<string>("console.log", ex.Message);
    }
  } *@

  private async Task SignIn()
  {
    user = await UserData.Login(username, password);
    if (user != null)
    {
      await storage.SetAsync("user", user.id);
      navigation.NavigateTo("mail/inbox", true);
    }
    else
    {
      await JSRuntime.InvokeVoidAsync("tagline", false, "Tên đăng nhập hoặc mật khẩu không đúng !");
    }
  }

  private async Task Logout()
  {
    if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Bạn có chắc muốn đăng xuất khỏi phần mềm ?"))
      return;

    navigation.NavigateTo("/logout", true);
  }
}