<ul class="is-flex is-align-items-center category__list is-flex-1">
    @foreach (var category in categories)
    {
        <li @onclick="() => HandleChangeTabCategory(category.id)" class="category__item @(currentTabActive == category.id ? "active": "" )">
            <span>@category.name</span>
        </li>
    }
    <li class="category__item is-flex-1">
    </li>
</ul>

<div class="dropdown is-hoverable is-right category__border-bottom" style="height: 37px ;">
    <div class="dropdown-trigger is-flex is-align-items-center is-pointer">
        <span class="has-text-weight-medium is-primary-40">Khác
            <span> (+3) </span>
        </span>
        <span class="icon">
            <i class="material-symbols-outlined is-secondary-10">
                arrow_drop_down
            </i>
        </span>
    </div>
    <div class="dropdown-menu" style="width: 200px">
        <div class="dropdown-content px-2">
            <p class="dropdown-item has-text-weight-medium">Danh sách danh mục</p>
            <p class="dropdown-item">Tuyển dụng</p>
            <p class="dropdown-item">Lịch họp</p>
            <p class="dropdown-item">OKRs</p>
            <p class="dropdown-item">Khác</p>
        </div>
    </div>
</div>

@code {
    public string currentTabActive = "1";
    [Parameter]
    public List<CategoryModel> categories {get; set; }
        
    private void HandleChangeTabCategory(string id)
    {
        currentTabActive = id;
    }
}