<div class="is-flex is-align-items-center is-justify-content-center">
    <nav class="pagination is-small" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            <li>
                <span class="icon">
                    <span class="material-icons-outlined is-secondary-40">navigate_before</span>
                </span>
            </li>
            <li>
                <a class="pagination-link is_sub2 is-current" aria-label="Page 1" aria-current="page">1</a>
            </li>
            <li>
                <a class="pagination-link is_sub2" aria-label="Goto page 2">2</a>
            </li>
            <li>
                <a class="pagination-link is_sub2" aria-label="Goto page 3">3</a>
            </li>
            <li>
                <span class="icon">
                    <span class="material-icons-outlined is-secondary-40">navigate_next</span>
                </span>
            </li>
        </ul>
    </nav>
</div>