@inject IJSRuntime JSRuntime
@page "/config/mail"
@layout LayoutMain

<div class="is-padding-20">
    <div class="container-manager is-config">
        <div class="is-flex is-align-items-center">
            <p class="is-flex-1 is-uppercase is_h6 is-secondary-20">Cấu hình hộp thư</p>
            <div class="wrapper-button primary-btn" @onclick="() => HandleToggleShowModalAdd(true)">
                <span class="icon">
                    <i class="material-icons-outlined has-text-white">add</i>
                </span>
                <span class="has-text-white is_button">Thêm danh mục</span>
            </div>
        </div>
        <p class="is-padding-20-x is_body1 is-secondary-20">Danh sách hạng mục</p>
        <ul>
            @foreach (var category in categories.Where(c => c.name != "Khác"))
            {
                <_Item  
                    category="category" 
                    HandleDeleteCategory="HandleDeleteCategory" 
                    HandleUpdateCategory="HandleUpdateCategory"
                />
            }
        </ul>
        <li class="is-flex is-align-items-center is-justify-content-space-between is-padding-10-y border-bottom">
                <div class="is-flex is-align-items-center is-gap-10-y">
                    <span class="is_sub2 is-secondary-20">Khác</span>
                </div>
            </li>
    </div>
    <_ModalData
        nameModal="Thêm danh mục"
        contentButton="Cập nhật"
        toggleActiveModal="@isShowModalAdd"
        HandleToggleActiveModal="HandleToggleShowModalAdd"
        categoryName="@categoryName"
        HandleConfirmation="HandleAddCategory"
    />
</div>
@code{
    public List<CategoryModel> categories = new List<CategoryModel>();

    public bool isShowModalAdd = false;
    public string categoryName = String.Empty;
    public void HandleToggleShowModalAdd(bool isShow) 
    {
        isShowModalAdd = isShow;
    }

    protected override async Task OnInitializedAsync()
    {   
        await getAllCategories();
    }

    public async Task HandleDeleteCategory(CategoryModel categoryDelete)
    {
        await CategoryData.DeleteCategory(categoryDelete);
        await getAllCategories();
        StateHasChanged();
    }


    private async Task getAllCategories() 
    {
        categories = await CategoryData.GetAllCategory();
        return;
    }

    public async Task HandleAddCategory(string nameToAdd)
    {
        bool isValid = await IsValidCategory(nameToAdd);
        if(!isValid) return;

        CategoryModel categoryToCreate = new CategoryModel{ 
            id = GenerateIDHelper.GenerateID("19012001"),
            name = nameToAdd,
        };
        await CategoryData.CreateCategory(categoryToCreate);
        categories.Add(categoryToCreate);
        categoryName = String.Empty;
        isShowModalAdd = !isShowModalAdd;
    }

    public async Task HandleUpdateCategory(CategoryModel categoryUpdate) 
    {
        await CategoryData.UpdateCategory(categoryUpdate);
        await getAllCategories();
        StateHasChanged();
    }

    public async Task<bool> IsValidCategory(string nameToAdd)
    { 
        if(nameToAdd == String.Empty) {
            await JSRuntime.InvokeVoidAsync("alert", "Vui lòng nhập tên danh mục!");
            return false;
        }
        if( nameToAdd.Length >  30) {
            await JSRuntime.InvokeVoidAsync("alert", "Tên danh mục tối đa 30 ký tự!");
            return false;
        }
        return true;
    }

}