<div class="pb-5">
    <div class="is-flex is-align-items-center" style="gap: 0 20px">
        <p class="is-flex-1 is-uppercase is-secondary-10 is_typhography">Khảo sát ý kiến nhân viên vào dịp tết nguyên
            đán</p>
        <div class="is-flex is-align-items-center" style="gap: 0 20px">
            <div class="is-flex is-align-items-center">
                <span class="icon is-secondary-40 is_body2">
                    <i class="material-icons-outlined ">info</i>
                </span>
                <span class="is_body2 is-secondary-40">Thời gian kết thúc: </span>
            </div>
            <div class="is-flex is-align-items-center is-gap-4">
                <div class="is-flex is-align-items-center">
                    <span class="icon">
                        <i class="material-icons-outlined is-secondary-10">calendar_today</i>
                    </span>
                    <span class="is_caption is-black">02/02/2023</span>
                </div>
                <div class="is-flex is-align-items-center">
                    <span class="icon">
                        <i class="material-icons-outlined is-secondary-10">schedule</i>
                    </span>
                    <span class="is_caption is-black">16:30</span>
                </div>
            </div>
        </div>
    </div>
    <div class="poll__content">
        <ul class="is-flex is-flex-direction-column" style="gap: 20px 0">
            <li>
                <div class="is-flex is-align-items-center is-gap-8">
                    <span class="is_sub2">1.</span>
                    <p class="is_sub2 is-secondary-20">Bạn muốn tham dự End Year Party vào thời điểm nào?</p>
                </div>
                <div class="control is-mt-10 is-flex is-flex-direction-column is-gap-10-x">
                    <label class="is-flex is-align-items-center is-gap-4">
                        <input type="radio" name="answer">
                        24 tháng chạp
                    </label>
                    <label class="is-flex is-align-items-center is-gap-4">
                        <input type="radio" name="answer">
                        25 tháng chạp
                    </label>
                </div>
            </li>
            <li>
                <div class="is-flex is-align-items-center is-gap-8">
                    <span class="is_sub2">2.</span>
                    <p class="is_sub2 is-secondary-20">Phần thưởng Tết bạn muốn nhận là gì?</p>
                </div>
                <div class="control is-mt-10 is-flex is-flex-direction-column is-gap-10-x">
                    <label class="is-flex is-align-items-center is-gap-4">
                        <input type="checkbox" name="answer">
                        Tiền mặt
                    </label>
                    <label class="is-flex is-align-items-center is-gap-4">
                        <input type="checkbox" name="answer">
                        Hiện vật
                    </label>
                </div>
            </li>
        </ul>
    </div>
    <div class="wrapper-button primary-btn" style="display: inline-flex;">
        <span class="icon">
            <i class="material-icons-outlined">edit</i>
        </span>
        <span class="is_caption">Chỉnh sửa</span>
    </div>
</div>
