<div class="container-manager">
    <div class="is-mb-20">
        <span class="is-uppercase is_h6 is-secondary-10">Quản lí danh mục</span>
    </div>
    <ul>
        <li class="is-flex is-align-items-center is-justify-content-space-between is-padding-10-y border-bottom">
            <div class="is-flex is-align-items-center is-gap-10-y">
                <span class="icon is-pointer is-secondary-10">
                    <i class="material-icons-outlined">drag_indicator</i>
                </span>
                <span class="is_sub2 is-secondary-20">Nhân sự</span>
            </div>
            <div class="is-flex is-align-items-center is-gap-10-y">
                <span class="icon is-pointer is-secondary-10">
                    <i class="material-icons-outlined">arrow_upward</i>
                </span>
                <span class="icon is-pointer is-secondary-10">
                    <i class="material-icons-outlined">arrow_downward</i>
                </span>
            </div>
        </li>
        <li class="is-flex is-align-items-center is-justify-content-space-between is-padding-10-y border-bottom">
            <div class="is-flex is-align-items-center is-gap-10-y">
                <span class="icon is-pointer is-secondary-10">
                    <i class="material-icons-outlined">drag_indicator</i>
                </span>
                <span class="is_sub2 is-secondary-20">Vận hành</span>
            </div>
            <div class="is-flex is-align-items-center is-gap-10-y">
                <span class="icon is-pointer is-secondary-10">
                    <i class="material-icons-outlined">arrow_upward</i>
                </span>
                <span class="icon is-pointer is-secondary-10">
                    <i class="material-icons-outlined">arrow_downward</i>
                </span>
            </div>
        </li>
        <li class="is-flex is-align-items-center is-justify-content-space-between is-padding-10-y border-bottom">
            <div class="is-flex is-align-items-center is-gap-10-y">
                <span class="icon is-pointer is-secondary-10">
                    <i class="material-icons-outlined">drag_indicator</i>
                </span>
                <span class="is_sub2 is-secondary-20">Kế toán</span>
            </div>
            <div class="is-flex is-align-items-center is-gap-10-y">
                <span class="icon is-pointer is-secondary-10">
                    <i class="material-icons-outlined">arrow_upward</i>
                </span>
                <span class="icon is-pointer is-secondary-10">
                    <i class="material-icons-outlined">arrow_downward</i>
                </span>
            </div>
        </li>
        <li class="is-flex is-align-items-center is-justify-content-space-between is-padding-10-y border-bottom">
            <div class="is-flex is-align-items-center is-gap-10-y">
                <span class="icon is-pointer is-secondary-10">
                    <i class="material-icons-outlined">drag_indicator</i>
                </span>
                <span class="is_sub2 is-secondary-20">Sales Maketing</span>
            </div>
            <div class="is-flex is-align-items-center is-gap-10-y">
                <span class="icon is-pointer is-secondary-10">
                    <i class="material-icons-outlined">arrow_upward</i>
                </span>
                <span class="icon is-pointer is-secondary-10">
                    <i class="material-icons-outlined">arrow_downward</i>
                </span>
            </div>
        </li>
        <li class="is-flex is-align-items-center is-justify-content-space-between is-padding-10-y border-bottom">
            <div class="is-flex is-align-items-center is-gap-10-y">
                <span class="icon is-pointer is-secondary-10">
                    <i class="material-icons-outlined">drag_indicator</i>
                </span>
                <span class="is_sub2 is-secondary-20">Lịch họp</span>
            </div>
            <div class="is-flex is-align-items-center is-gap-10-y">
                <span class="icon is-pointer is-secondary-10">
                    <i class="material-icons-outlined">arrow_upward</i>
                </span>
                <span class="icon is-pointer is-secondary-10">
                    <i class="material-icons-outlined">arrow_downward</i>
                </span>
            </div>
        </li>
        <li class="is-flex is-align-items-center is-justify-content-space-between is-padding-10-y border-bottom">
            <span class="is_sub2 is-secondary-20">Khác</span>
        </li>
    </ul>
</div>