@page "/settings"
@layout LayoutMail

<PageTitle>Thiết lập</PageTitle>
<section class="is-padding-20 is-flex is-flex-direction-column" style="gap: 20px 0">
    <_ManagerGroup/>
    <_ManagerCategory/>
    <_ManagerLabel/>
    <_ManagerSignature/>
</section>  