<div class="container-manager">
    <div class="is-mb-20">
        <span class="is-uppercase is_h6 is-secondary-10">Quản lí nhãn</span>
    </div>
    <div class="is-inline-flex is-align-items-center is-gap-4 is-mb-20">
        <div class="search-wrapper label-input">
            <input class="search-input label-input" type="text" placeholder="Nhập tiêu đề nhãn"
                style="min-height: 36px;">
        </div>
        <div class="container-square medium grey">
            <span class="icon is-secondary-40">
                <i class="material-symbols-outlined"> palette</i>
            </span>
        </div>
        <div class="wrapper-button primary-btn" style="display: inline-flex; min-height: 36px;">
            <span class="icon">
                <i class="material-icons-outlined">done</i>
            </span>
            <span class="is_caption">Tạo nhãn</span>
        </div>
    </div>
    <div>
        <span class="is-secondary-60 is_caption is-italic">Chọn nhãn để chỉnh sửa</span>
        <ul class="is-flex is-align-items-center is-gap-10-y is-flex-wrap-wrap" style="margin-top: 5px;">
            <li class="is-flex is-align-items-center wrapper-label-item">
                <span class="is_caption is-analogous-40 ">Nhân sự Conando</span>
                <div class="is-flex is-align-items-center">
                    <span class="icon is-primary-40 is-pointer">
                        <i class="material-symbols-outlined is-font-12" style="font-size: 12px;">edit</i>
                    </span>
                    <div class="container-square small error">
                        <span class="icon has-text-white">
                            <i class="material-icons-outlined">delete</i>
                        </span>
                    </div>
                </div>
            </li>
              <li class="is-flex is-align-items-center wrapper-label-item">
                <span class="is_caption is-analogous-40 ">Nhân sự Conando</span>
                <div class="is-flex is-align-items-center">
                    <span class="icon is-primary-40 is-pointer">
                        <i class="material-symbols-outlined" style="font-size: 12px;">edit</i>
                    </span>
                    <div class="container-square small error">
                        <span class="icon has-text-white">
                            <i class="material-icons-outlined">delete</i>
                        </span>
                    </div>
                </div>
            </li>
              <li class="is-flex is-align-items-center wrapper-label-item">
                <span class="is_caption is-analogous-40 ">Nhân sự Conando</span>
                <div class="is-flex is-align-items-center">
                    <span class="icon is-primary-40 is-pointer">
                        <i class="material-symbols-outlined is-font-12" style="font-size: 12px;">edit</i>
                    </span>
                    <div class="container-square small error">
                        <span class="icon has-text-white">
                            <i class="material-icons-outlined">delete</i>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>