@page "/settings"
@layout LayoutMail


<PageTitle>Thiết lập</PageTitle>
<section class="is-padding-20 is-flex is-flex-direction-column" style="gap: 20px 0">
    <ManagerGroup/>
    <ManagerCategory/>
    <ManagerLabel/>
    <ManagerSignature/>
</section>  