@page "/inbox/{slug}"
@layout LayoutMail
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation
@using Microsoft.AspNetCore.Components

<section class="is-padding-20">
    <header class="is-flex is-align-items-center is-justify-content-flex-start is-gap-20">
        <a href="mail" class="is-flex is-align-items-center is-gap-8 is-pointer ">
            <span class="icon">
                <i class="material-icons-outlined is-primary-40">arrow_back</i>
            </span>
            <span class="is-font-14 is-primary-40 has-text-weight-medium">Trở về</span>
        </a>
        <div class="is-flex is-align-items-center is-gap-8 is-pointer">
            <span class="icon">
                <i class="material-icons-outlined is-warning-20">star_outline</i>
            </span>
            <span class="is-font-14 is-secondary-40">Đánh dấu quan trọng</span>
        </div>
        <div class="is-flex is-align-items-center is-gap-8 is-pointer">
            <span class="icon">
                <i class="material-icons-outlined is-primary-40">email</i>
            </span>
            <span class="is-font-14 is-primary-40">Đánh dấu đã đọc</span>
        </div>
        <div class="is-flex is-align-items-center is-gap-8 is-pointer">
            <span class="icon">
                <i class="material-icons-outlined is-error-40">label</i>
            </span>
            <span class="is-font-14 is-secondary-40 is-secondary-20">Nhãn</span>
        </div>
    </header>
    <main class="is-padding-top-20">
        <p class="is-secondary-20 is_h6">[THÔNG BÁO] LỊCH NGHỈ TẾT DƯƠNG LỊCH 01/01/2023 VÀ TẾT NGUYÊN ĐÁN QUÝ MÃO 2023
        </p>
        <div class="is-padding-top-20">
            <div>
                <div class="columns">
                    <div class="column is-6">
                        <div class="is-flex is-align-items-center is-gap-10-y">
                            <figure class="image is-32x32">
                                <img src="images/avatar-mail.png">
                            </figure>
                            <div>
                                <p class="is_body1 is-secondary-10">Jane Cooper</p>
                                <div class="is-flex is-align-items-center is-gap-4">
                                    <span class="is_caption is-secondary-10">Đến</span>
                                    <ul class="is-flex is-align-items-center is-gap-4">
                                        <li>
                                            <span class="is_caption is-secondary-40">Dương Tuấn Phong,</span>
                                        </li>
                                        <li>
                                            <span class="is_caption is-secondary-40">Nguyễn Đức Hậu,</span>
                                        </li>
                                        <li>
                                            <span class="is_caption is-secondary-40">Dương Bảo Bình,</span>
                                        </li>
                                        <li>
                                            <span class="is_caption is-secondary-40">Lê Trần My Na,</span>
                                        </li>
                                        <li>
                                            <span class="is_caption is-secondary-40">Lê Quốc Việt,</span>
                                        </li>
                                        <li>
                                            <span class="is_caption is-secondary-40">Kim Vy,</span>
                                        </li>
                                    </ul>
                                    <span class="icon">
                                        <i class="material-icons-outlined is-primary-40">arrow_drop_down</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-6">
                        <ul class="is-flex is-align-items-center is-gap-10-y is-justify-content-flex-end is-full">
                            <li class="is-flex is-align-items-center is-pointer">
                                <span class="is_caption is-secondary-40">10:47 (4 tiếng trước)</span>
                            </li>
                            <li class="is-flex is-align-items-center is-pointer">
                                <span class="icon">
                                    <i class="material-icons-outlined is-primary-40">reply</i>
                                </span>
                                <span class="is_caption is-primary-40">Trả lời</span>
                            </li>
                            <li class="is-flex is-align-items-center is-pointer">
                                <span class="icon">
                                    <i class="material-icons-outlined is-primary-40">reply_all</i>
                                </span>
                                <span class="is_caption is-primary-40">Trả lời tất cả</span>
                            </li>
                            <li class="is-flex is-align-items-center is-pointer">
                                <span class="icon">
                                    <i class="material-icons-outlined is-primary-40">next</i>
                                </span>
                                <span class="is_caption is-primary-40">Chuyển tiếp</span>
                            </li>
                            <li class="is-flex is-align-items-center is-pointer">
                                <span class="icon is_caption">
                                    <i class="material-icons-outlined is-primary-40 is_caption">more_vert</i>
                                </span>
                                <span class="is_caption is-primary-40">Khác</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="is-padding-top-20" style="margin-left: 40px;">
            <div style="padding-bottom: 20px;">
                <p>Kính gửi: Toàn thể Nhân sự Công ty TNHH Truyền thông và Công nghệ Conando;
                    <br /></p>
                <p>Nhằm mục đích triển khai kịp thời lịch nghỉ Tết Dương lịch 2023 và Tết Nguyên Đán Quý Mão, tạo điều
                    kiện
                    thuận lợi cho NLĐ chuẩn bị đón Tết, Phòng Nhân sự thông báo đến đến toàn thể nhân sự về lịch nghỉ
                    Tết
                    như sau
                </p>
            </div>
            @* poll *@
            <div class="is-padding-top-20">
                <div class="is-flex is-align-items-center" style="gap: 0 20px">
                    <p class="is-flex-1 is-uppercase is-secondary-10 is_typhography">Khảo sát ý kiến nhân viên vào dịp
                        tết nguyên
                        đán</p>
                    <div class="is-flex is-align-items-center" style="gap: 0 20px">
                        <div class="is-flex is-align-items-center">
                            <span class="icon is-secondary-40 is_body2">
                                <i class="material-icons-outlined ">info</i>
                            </span>
                            <span class="is_body2 is-secondary-40">Thời gian kết thúc khảo sát: </span>
                        </div>
                        <div class="is-flex is-align-items-center is-gap-4">
                            <div class="is-flex is-align-items-center">
                                <span class="icon">
                                    <i class="material-icons-outlined is-secondary-10">calendar_today</i>
                                </span>
                                <span class="is_caption is-black">02/02/2023</span>
                            </div>
                            <div class="is-flex is-align-items-center">
                                <span class="icon">
                                    <i class="material-icons-outlined is-secondary-10">schedule</i>
                                </span>
                                <span class="is_caption is-black">16:30</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="is-padding-top-20">
                    <div class="is-flex is-align-items-center is-gap-4">
                        <div class="wrapper-header-poll @(!toggleViewStatistical.IsToggled ? "active" : "") is-pointer">
                            <span class="is_sub2" @onclick="HandleToggleViewStatistical">Khảo sát</span>
                        </div>
                        <div class="wrapper-header-poll @(toggleViewStatistical.IsToggled ? "active" : "") is-pointer">
                            <span class="is_sub2" @onclick="HandleToggleViewStatistical">Thống kê</span>
                        </div>
                    </div>

                    @if(!toggleViewStatistical.IsToggled) {
                        <div class="poll__content" style="margin: 0; border-top-left-radius: 0;">
                            <ul class="is-flex is-flex-direction-column" style="gap: 20px 0">
                                <li>
                                    <div class="is-flex is-align-items-center is-gap-8">
                                        <span class="is_sub2">1.</span>
                                        <p class="is_sub2 is-secondary-20">Bạn muốn tham dự End Year Party vào thời điểm
                                            nào?</p>
                                    </div>
                                    <div class="control is-mt-10 is-flex is-flex-direction-column is-gap-10-x">
                                        <label class="is-flex is-align-items-center is-gap-4">
                                            <input type="radio" name="answer">
                                            24 tháng chạp
                                        </label>
                                        <label class="is-flex is-align-items-center is-gap-4">
                                            <input type="radio" name="answer">
                                            25 tháng chạp
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="is-flex is-align-items-center is-gap-8">
                                        <span class="is_sub2">2.</span>
                                        <p class="is_sub2 is-secondary-20">Phần thưởng Tết bạn muốn nhận là gì?</p>
                                    </div>
                                    <div class="control is-mt-10 is-flex is-flex-direction-column is-gap-10-x">
                                        <label class="is-flex is-align-items-center is-gap-4">
                                            <input type="checkbox" name="answer">
                                            Tiền mặt
                                        </label>
                                        <label class="is-flex is-align-items-center is-gap-4">
                                            <input type="checkbox" name="answer">
                                            Hiện vật
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    }
                    else {
                        <div class="poll__content" style="margin: 0; border-top-left-radius: 0;">
                            <ul class="is-flex is-flex-direction-column" style="gap: 20px 0">
                                <li>
                                    <div class="is-flex is-align-items-center is-gap-8">
                                        <span class="is_sub2">1.</span>
                                        <p class="is_sub2 is-secondary-20">Bạn muốn tham dự End Year Party vào thời điểm
                                            nào?</p>
                                    </div>
                                    <div class="is-mt-10">
                                        <div class="is-flex is-align-items-center">
                                            <span class="is_body2 is-secondary-40">Số người chưa thực hiện khảo sát:
                                                <span class="is_sub2 is-secondary-20">12</span>
                                            </span>
                                            <span class="icon">
                                                <i class="material-icons-outlined is-secondary-20">arrow_drop_down</i>
                                            </span>
                                        </div>
                                        <ul class="is-flex is-flex-direction-column is-gap-10-x"
                                            style="padding: 10px 20px 0px 20px;">
                                            <li class="is-flex is-align-items-center is-justify-content-space-between">
                                                <span class="is_body2 is-secondary-20 is-flex-1">24 tháng chạp</span>
                                                <div
                                                    class="is-flex is-align-items-center is-flex-1 is-justify-content-flex-end">
                                                    <div class="progress_has_value is-justify-content-flex-end is-gap-10-y">
                                                        <div class="is-flex is-align-items-center">
                                                            <span class="is_sub2 is-secondary-40">72 lượt bình chọn</span>
                                                            <span class="icon">
                                                                <i
                                                                    class="material-icons-outlined is-secondary-40">arrow_drop_down</i>
                                                            </span>
                                                        </div>
                                                        <progress class="progress is-small is-link" value="72" max="100"
                                                            style="max-width: 180px;">
                                                        </progress>
                                                        <span class="is_sub2 is-primary-40">72%</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="is-flex is-align-items-center is-justify-content-space-between">
                                                <span class="is_body2 is-secondary-20 is-flex-1">25 tháng chạp</span>
                                                <div
                                                    class="is-flex is-align-items-center is-flex-1 is-justify-content-flex-end">
                                                    <div class="progress_has_value is-justify-content-flex-end is-gap-10-y">
                                                        <div class="is-flex is-align-items-center">
                                                            <span class="is_sub2 is-secondary-40">28 lượt bình chọn</span>
                                                            <span class="icon">
                                                                <i
                                                                    class="material-icons-outlined is-secondary-40">arrow_drop_down</i>
                                                            </span>
                                                        </div>
                                                        <progress class="progress is-small is-danger" value="72" max="100"
                                                            style="max-width: 180px;">
                                                        </progress>
                                                        <span class="is_sub2 is-error-40">28%</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="is-flex is-align-items-center is-gap-8">
                                        <span class="is_sub2">2.</span>
                                        <p class="is_sub2 is-secondary-20">Phần thưởng Tết bạn muốn nhận là gì?</p>
                                    </div>
                                    <div class="is-mt-10">
                                        <div class="is-flex is-align-items-center">
                                            <span class="is_body2 is-secondary-40">Số người chưa thực hiện khảo sát:
                                                <span class="is_sub2 is-secondary-20">05</span>
                                            </span>
                                            <span class="icon">
                                                <i class="material-icons-outlined is-secondary-20">arrow_drop_down</i>
                                            </span>
                                        </div>
                                        <ul class="is-flex is-flex-direction-column is-gap-10-x"
                                            style="padding: 10px 20px 0px 20px;">
                                            <li class="is-flex is-align-items-center is-justify-content-space-between">
                                                <span class="is_body2 is-secondary-20 is-flex-1">24 tháng chạp</span>
                                                <div
                                                    class="is-flex is-align-items-center is-flex-1 is-justify-content-flex-end">
                                                    <div class="progress_has_value is-justify-content-flex-end is-gap-10-y">
                                                        <div class="is-flex is-align-items-center">
                                                            <span class="is_sub2 is-secondary-40">72 lượt bình chọn</span>
                                                            <span class="icon">
                                                                <i
                                                                    class="material-icons-outlined is-secondary-40">arrow_drop_down</i>
                                                            </span>
                                                        </div>
                                                        <progress class="progress is-small is-link" value="72" max="100"
                                                            style="max-width: 180px;">
                                                        </progress>
                                                        <span class="is_sub2 is-primary-40">72%</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="is-flex is-align-items-center is-justify-content-space-between">
                                                <span class="is_body2 is-secondary-20 is-flex-1">25 tháng chạp</span>
                                                <div
                                                    class="is-flex is-align-items-center is-flex-1 is-justify-content-flex-end">
                                                    <div class="progress_has_value is-justify-content-flex-end is-gap-10-y">
                                                        <div class="is-flex is-align-items-center">
                                                            <span class="is_sub2 is-secondary-40">28 lượt bình chọn</span>
                                                            <span class="icon">
                                                                <i
                                                                    class="material-icons-outlined is-secondary-40">arrow_drop_down</i>
                                                            </span>
                                                        </div>
                                                        <progress class="progress is-small is-danger" value="72" max="100"
                                                            style="max-width: 180px;">
                                                        </progress>
                                                        <span class="is_sub2 is-error-40">28%</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
            <div class="is-padding-top-20">
                <div class="wrapper-button error-btn is-inline-flex">
                    <span class="icon">
                        <i class="material-icons-outlined has-text-white">poll</i>
                    </span>
                    <span class="is_caption has-text-white">Dừng khảo sát</span>
                </div>
            </div>
            <div style="padding: 40px 0px 20px 0px">
                <div class="files-list is-flex is-align-items-center" style="gap: 0 10px;">
                    <div class="file-item is-flex is-align-items-center is-justify-content-center" style="gap: 0 7px;">
                        <img src="images/word-icon.png" alt="word-icon">
                        <span>Filename.docx</span>
                    </div>
                    <div class="file-item is-flex is-align-items-center is-justify-content-center" style="gap: 0 7px;">
                        <img src="images/exel-icon.png" alt="exel-icon">
                        <span>Filename.xlsx</span>
                    </div>
                </div>
            </div>
            <div class="is_sub2 is-secondary-10">
                    <p>-----------------------------------------</p>
                    <p>DOCORP JSC</p>
                    <p>CÔNG TY CỔ PHẦN DOCORP</p>
                    <p>Số 23 Trường Thi 1, Phường Hòa Thuận Tây, Quận Hải Châu, Thành phố Đà Nẵng</p>
                    <p>Phone : 0905.043.312 (Ms Thúy Phượng)</p>
            </div>
            <div class="is-flex is-align-items-center is-gap-10-y is-padding-top-20">
                <div class="wrapper-button btn-outlined">
                    <span class="icon">
                        <i class="material-icons-outlined is-secondary-40">poll</i>
                    </span>
                    <span class="is_caption is-secondary-40">Trả lời</span>
                </div>
                   <div class="wrapper-button btn-outlined">
                    <span class="icon">
                        <i class="material-icons-outlined is-secondary-40">poll</i>
                    </span>
                    <span class="is_caption is-secondary-40">Trả lời tất cả</span>
                </div>
                <div class="wrapper-button btn-outlined">
                    <span class="icon">
                        <i class="material-icons-outlined is-secondary-40">poll</i>
                    </span>
                    <span class="is_caption is-secondary-40">Chuyển tiếp</span>
                </div>
            </div>
        </div>
    </main>
</section>
@code {
[Parameter]
    public string? slug { get; set; }
    private ToggleHelper toggleViewStatistical = new ToggleHelper();

    private void HandleToggleViewStatistical()
    {
        toggleViewStatistical.Toggle();
    }

}