@inject IJSRuntime JSRuntime
@page "/config/mail"
@layout LayoutMain

<div class="is-padding-20">
    <div class="container-manager is-config">
        <div class="is-flex is-align-items-center">
            <p class="is-flex-1 is-uppercase is_h6 is-secondary-20">Cấu hình hộp thư</p>
            <div class="wrapper-button primary-btn" @onclick="() => Toggle(true)">
                <span class="icon">
                    <i class="material-icons-outlined has-text-white">add</i>
                </span>
                <span class="has-text-white is_button">Thêm danh mục</span>
            </div>
        </div>
        <p class="is-padding-20-x is_body1 is-secondary-20">Danh sách hạng mục</p>

    <Dropzone InstantReplace="true" TItem="CategoryModel" OnItemDrop="((p)=> OnItemDrop(p))" Items="categories" OnReplacedItemDrop="@((p)=> OnReplacedItemDrop(p))">
        @if(@context.name != "Khác") 
        {
            <_Item category="context" OnDelete="Delete" OnUpdate="Update"/>
        }
    </Dropzone>
        <!-- <ul>
            @foreach (var category in categories.Where(c => c.name != "Khác"))
            {
                <_Item category="category" OnDelete="Delete" OnUpdate="Update"/>
            }
        </ul> -->
        <li class="is-flex is-align-items-center is-justify-content-space-between is-padding-10-y border-bottom">
                <div class="is-flex is-align-items-center is-gap-10-y">
                    <span class="is_sub2 is-secondary-20">Khác</span>
                </div>
            </li>
    </div>
    <!-- Modal thêm danh mục  -->
    <_ModalData
        nameModal="Thêm danh mục"
        contentButton="Cập nhật"
        isShowModal="isShow"
        categoryName="@categoryName"
        OnToggleModal="Toggle"
        OnConfirmation="Add"
    />
</div>
@code{
    [CascadingParameter]
    public LayoutMain Layout { get; set; }
    public List<CategoryModel> categories = new List<CategoryModel>();
    public CategorySortedModel sortedUser { get; set;} = new();
    public List<int> sortedDefault { get; set;} = new();
    public bool isShow = false;
    public string categoryName = String.Empty;

    // Get list danh mục
    protected override async Task OnInitializedAsync()
    {   
        categories = await CategoryData.GetList();
        // Lấy danh sách danh mục đã được sorted
        sortedUser = await CategoryData.GetSorted(Layout.User.id);

        // Nếu bằng null tức user này chưa hề sắp xếp, nên sẽ giữ vị trí như ban đầu
        if(string.IsNullOrEmpty(sortedUser.id))
        {
            sortedDefault = categories.OrderBy(x => x.position).Select(x => x.position).ToList();
        }

        // Nếu có, thì sẽ set danh sách  = thứ tự đã sắp xếp trước đó của user
        else 
        {
            categories = categories.OrderBy(x => sortedUser.sorted.FindIndex(p => p == x.position)).ToList();
            sortedDefault = sortedUser.sorted;
        }
        StateHasChanged();
    }

    // Bật tắt modal thêm danh mục
    public void Toggle(bool isShowAdd) 
    {
        isShow = isShowAdd;
    }


    // Xóa danh mục
    public async Task Delete(CategoryModel category)
    {
        await CategoryData.Delete(category);
        await JSRuntime.InvokeVoidAsync("tagline", false, "Xóa danh mục thành công!");
        categories.Remove(categories.FirstOrDefault(x => x.id == category.id));
        StateHasChanged();
    }

    // Tạo mới danh mục
    public async Task Add(string name)
    {

        bool isValid = await IsValidCategory(name);
        if(!isValid) return;

        CategoryModel category = new CategoryModel
        { 
            id = SharedHelperV2.GenerateID("19012001"),
            name = name,
        };
        await CategoryData.Create(category);
        await JSRuntime.InvokeVoidAsync("tagline", true, "Thêm danh mục thành công!");
        categories.Add(category);
        categoryName = String.Empty;
        isShow = !isShow;
    }


    // Cập nhật danh mục
    public async Task Update(CategoryModel category) 
    {
        await CategoryData.Update(category);
        await JSRuntime.InvokeVoidAsync("tagline", true, "Cập nhật danh mục thành công!");
        StateHasChanged();
    }


    // Validate tên danh mục
    public async Task<bool> IsValidCategory(string name)
    { 
        if(string.IsNullOrEmpty(name)) 
        {
            await JSRuntime.InvokeVoidAsync("tagline", false, "Vui lòng nhập tên danh mục!");
            return false;
        }

        if( name.Length >  30) 
        {
            await JSRuntime.InvokeVoidAsync("tagline", false, "Tên danh mục tối đa 30 ký tự!");
            return false;
        }
        return true;
    }


        // Hàm dùng đề lấy vị trí của item bị thay đổi
    public void OnReplacedItemDrop(CategoryModel item)
    {
        // Lấy item bị thay dổi
        replacedItem = item;
        StateHasChanged();
    }


    // Hàm xử lý việc swap vị trí của danh mục
    public async Task OnItemDrop(CategoryModel item)
    {
        // Lấy item cần thay đổi
        dropedItem = item;

        // Tìm vị trí của 2 item cần thay đổi
        var index1 = sortedDefault.IndexOf(dropedItem.position); 
        var index2 = sortedDefault.IndexOf(replacedItem.position);

        // Gắn biến tmp để swap
        var temp = sortedDefault[index1];

        // swap
        sortedDefault[index1] = sortedDefault[index2];
        sortedDefault[index2] = temp;

        // Update lại danh sách được sorted mới
        sortedUser.sorted = sortedDefault;
        sortedUser.author = Layout.User.id;

        // Tiến hành sort
        await CategoryData.Sorted(sortedUser);

        StateHasChanged();

        replacedItem = new();
        dropedItem = new();
    }

}