<div class="dropdown @(toggleViewAdd.IsToggled ? "is-active" : "" )">
    <div class="dropdown-trigger" @onclick='HandleToggleViewAdd'>
        <div class="is-flex is-align-items-center is-pointer">
            <span class="icon has-text-white">
                <i class="material-icons-outlined is-font-12 is-primary-40">add</i>
            </span>
            <span class="is-primary-40 is-font-12">Thêm nhóm người nhận</span>
        </div>
    </div>
    <div class="dropdown-menu" style="min-width: 350px; min-height: 410px; height: 100%;">
        <div class="dropdown-content is-flex is-flex-direction-column is-padding-20" style="height: 100%;">
            <div class="dropdown-item unhover is-flex is-align-items-center is-justify-content-space-between"
                style="padding: 10px 0;">
                <span class="is_sub2 is-secondary-40">Thêm nhóm người nhận</span>
            </div>
            <div class="dropdown-item unhover dropdown-header" style="padding: 0; padding-bottom: 10px;">
                <ul class="is-flex is-align-items-center is-flex-wrap-wrap is-gap-10-y">
                    <li class="is-flex is-align-items-center is-gap-8-y">
                        <span class="icon is-justify-content-start">
                            <i class="material-icons-outlined is-secondary-40">remove_circle_outline</i>
                        </span>
                        <div class="is-flex is-align-items-center is-gap-4">
                            <span class="is_sub2 is-secondary-20">Long Vũ</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="dropdown-item unhover is-padding-20-x border-bottom is-flex-1" style="border-radius:0 ;">
                <div class="is-flex is-align-items-center is-gap-10-y pb-4">
                    <input id="select-all" type="checkbox">
                    <label for="select-all" class="is_button is-primary-40 is-pointer">Chọn tất
                        cả</label>
                </div>
                <ul class="is-flex is-flex-direction-column is-gap-8-x">
                    <li class="is-flex is-align-items-center is-gap-8-y">
                        <span class="icon is-justify-content-start">
                            <i class="material-icons-outlined is-secondary-40">add_circle_outline</i>
                        </span>
                        <span class="is_sub2 is-secondary-20">Long Vũ</span>
                    </li>
                    <li class="is-flex is-align-items-center is-gap-8-y">
                        <span class="icon is-justify-content-start">
                            <i class="material-icons-outlined is-secondary-40">add_circle_outline</i>
                        </span>
                        <span class="is_sub2 is-secondary-20">Long Vũ</span>
                    </li>
                    <li class="is-flex is-align-items-center is-gap-8-y">
                        <span class="icon is-justify-content-start">
                            <i class="material-icons-outlined is-secondary-40">add_circle_outline</i>
                        </span>
                        <span class="is_sub2 is-secondary-20">Long Vũ</span>
                    </li>
                </ul>
            </div>
            <div
                class="dropdown-item unhover is-flex is-justify-content-flex-end is-align-content-center is-padding-top-20 is-gap-10-y">
                <div class="wrapper-button primary-btn" style="display: inline-flex">
                    <span class="icon has-text-white">
                        <i class="material-icons-outlined">done</i>
                    </span>
                    <span class="has-text-white is-font-12">Cập nhật</span>
                </div>
                <div class="wrapper-button error-btn" style="display: inline-flex" @onclick="HandleToggleViewAdd">
                    <span class="icon has-text-white">
                        <i class="material-icons-sharp">close</i>
                    </span>
                    <span class="has-text-white is-font-12">Hủy</span>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string directionDropdown {get; set;}
    private ToggleHelper toggleViewAdd = new ToggleHelper();
    private void HandleToggleViewAdd()
    {
        toggleViewAdd.Toggle();
    }
}