<header class="is-flex is-align-items-center is-justify-content-flex-start is-gap-20">
    <a href="mail" class="is-flex is-align-items-center is-gap-8 is-pointer ">
        <span class="icon">
            <i class="material-icons-outlined is-primary-40">arrow_back</i>
        </span>
        <span class="is-font-14 is-primary-40 has-text-weight-medium">Trở về</span>
    </a>
    <div class="is-flex is-align-items-center is-gap-8 is-pointer">
        <span class="icon">
            <i class="material-icons-outlined is-warning-20">star_outline</i>
        </span>
        <span class="is-font-14 is-secondary-40">Đánh dấu quan trọng</span>
    </div>
    <div class="is-flex is-align-items-center is-gap-8 is-pointer">
        <span class="icon">
            <i class="material-icons-outlined is-primary-40">email</i>
        </span>
        <span class="is-font-14 is-primary-40">Đánh dấu đã đọc</span>
    </div>
    <div class="is-flex is-align-items-center is-gap-8 is-pointer">
        <span class="icon">
            <i class="material-icons-outlined is-error-40">label</i>
        </span>
        <span class="is-font-14 is-secondary-40 is-secondary-20">Nhãn</span>
    </div>
</header>