<div class="create__main-container">
    <div>
        <BlazoredTextEditor @ref="@QuillHtml" Placeholder="Nhập nội dung thư">
            <EditorContent>
            </EditorContent>
            <ToolbarContent>
                <div class="toolbar-create" style="left: @(Layout.isToggleSideBar ? " 80" : "220" )px">
                    <div class="wrapper-button is-justify-content-center is-inline-flex primary-btn"
                        style="padding: 10px 40px;">
                        <span class="is-font-14">Gửi</span>
                    </div>
                    <div class="is-flex-1">
                        <span class="ql-formats">
                            <select class="ql-font">
                                <option value=""></option>
                                <option value="serif"></option>
                                <option value="monospace"></option>
                            </select>
                            <select class="ql-header">
                                <option selected=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>
                            </select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                        </span>
                        <span class="ql-formats">
                            <select class="ql-color"></select>
                            <select class="ql-background"></select>
                        </span>
                        <span class="ql-formats">
                            <span class="ql-align ql-picker ql-icon-picker"></span>
                            <select class="ql-align">
                                <option selected="selected"></option>
                                <option selected="center"></option>
                                <option selected="right"></option>
                                <option selected="justify"></option>
                            </select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-indent" value="-1"></button>
                            <button class="ql-indent" value="+1"></button>
                            <button class="ql-blockquote"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link"></button>
                            <button class="ql-image"></button>
                        </span>
                    </div>
                    <div class="is-flex is-align-items-center is-gap-8">
                        <div class="wrapper-button is-justify-content-center is-inline-flex" style="padding: 9px 10px">
                            <span class="icon">
                                <i class="material-icons-outlined is-primary-40">mail</i>
                            </span>
                            <span class="is_body2 is-primary-40">Lưu nháp</span>
                        </div>
                        <div class="wrapper-button is-justify-content-center is-inline-flex error-btn"
                            style="padding: 9px 10px">
                            <span class="icon">
                                <i class="material-icons-outlined">close</i>
                            </span>
                            <span class="is-font-14">Hủy tạo</span>
                        </div>
                    </div>
                </div>
            </ToolbarContent>
        </BlazoredTextEditor>
    </div>
</div>

@code{
    [CascadingParameter]
    public LayoutMail Layout { get; set; }
    BlazoredTextEditor QuillHtml;
}