<div class="is-flex is-align-items-center is-gap-8 is-pointer">
    @if(isStared) 
        { 
            <span class="icon" @onclick="() => HandleStar(false)">
                <i class="material-icons-sharp is-warning-20">star_purple500</i>
            </span>
        }
    else 
        {
            <span class="icon star" @onclick="() => HandleStar(true)">
                <i class="material-symbols-outlined">star</i>
            </span>
        }
    @if(isShowText)
    {
        <span class="is_body2 is-secondary-40">Đánh dấu quan trọng</span>
    }
</div>

@code {
    [Parameter] public EventCallback<bool> HandleStarMail { get;  set; }
    [Parameter] public bool isStared { get; set; }
    [Parameter] public bool isShowText { get; set; }

    private void HandleStar(bool isStarMail)
    {
        HandleStarMail.InvokeAsync(isStarMail);
    }  
}